<div layout="row">
  <div flex>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Frågor</mat-card-title>
        <mat-card-subtitle>Skapa och hantera frågor</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions align="start">
        <button flex mat-raised-button color="accent" (click)="onGoToQuestions()" type="button" class="text-upper">Visa</button>
        <button flex mat-raised-button color="accent" (click)="onCreateQuestion()" type="button" class="text-upper">Skapa</button>        
      </mat-card-actions>
    </mat-card>
  </div>
  <div flex>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Kategori</mat-card-title>
        <mat-card-subtitle>Skapa och ta bort kategorier</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions align="start">
        <button flex mat-raised-button color="accent" (click)="onGoToCategories()" type="button" class="text-upper">Visa</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
