<div layout="column" layout-align="center center">
  <div class="page-container">
    <app-md-card-progress-bar [showLoading]="isLoading$ | async">
      <mat-card-title layout="row" layout-align="start center">
        <mat-icon class="mat-icon-logo" svgIcon="assets:logo"></mat-icon> <span class="md-title">Återställ Lösneord</span></mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="push-bottom-none">
        <form [formGroup]="forgotPasswordForm">

          <app-md-result-message 
            [isSuccess]="(forgotPasswordSent$ | async)" 
            successMessage="Ett e-post med instruktioner har skickats till {{ email.value }}"
            [isError]="(error$ | async)"
            errorMessage="{{ (error$ | async)?.getErrorMessageToDisplay() }}">
          </app-md-result-message>

          <div layout="row">
            <div flex>
              Ange din e-postadress som du har angett när du registrerade ditt konto första gången. Klicka på knappen <strong>Skicka</strong>              och ett e-post skickas till din adress.
            </div>
          </div>

          <div layout="row">
            <mat-form-field flex>
              <input #email matInput formControlName="email" placeholder="E-Post..." type="text" name="email">
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                E-Post är <strong>obligatorisk</strong>
              </mat-error>
              <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                Felaktigt format på e-post
              </mat-error>
            </mat-form-field>
          </div>

        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div layout="row">
          <button flex mat-raised-button color="primary" [disabled]="forgotPasswordForm.invalid" (click)="onForgotPassword()" class="text-upper">Skicka</button>
        </div>
      </mat-card-actions>
    </app-md-card-progress-bar>

    <div class="mat-card-back-button">
      <button type="button" mat-raised-button color="warn" (click)="onGoBack()">Tillbaka</button>
    </div>
  </div>
</div>
